{% extends 'base.html.twig' %}

{% block body %}
    <form method="get" action="{{ path('recipes_index') }}" role="search">
        <label for="searchHome" class="textNoto text-black mb-3">Rechercher une recette par nom :  </label>
        <div class="input-group">
            <input name="q" required placeholder="Soupe de tomate ..." id="searchHome" type="text" class="form-control shadow1" />
            <button class="shadow1 btn btn-primary text-white"><i class="bi bi-search"></i></button>
        </div>

    </form>
    <section class="mb-5">
        <h2 class="text-secondary secondTitle mt-5">Mes services</h2>
        <p class="textNoto">
            Vous proposer des recettes adaptées à votre régime ou allergies spéciéfiées lors de votre inscription.
        </p>
    </section>
    <section>
        <h2 class="text-secondary secondTitle">A propos</h2>
        <p class="textNoto">
            Je suis une diététicienne-nutritionniste dont le cabinet est situé à Caen. En tant que professionnelle de santé, je prends en charge des patients dans le cadre de consultations diététiques. J’anime également des ateliers de prévention et d’information sur la nutrition.
        </p>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}