* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    line-height: 1.35;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.appContainer {
    flex-grow: 1;
}

.inputPlaceholder::placeholder {
    color: #00000066;
}
.inputPlaceholderLight::placeholder {
    color: #DC9A7D;
}
.brand-title {
    font-family: Reenie Beanie, sans-serif;
    font-size: 1.6rem;

}

.navbar {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
}

.secondTitle {
    font-size: 1.40rem ;
    font-family: Baloo Bhaina, sans-serif;
    color: #876C60;
}

.textNoto {
    font-family: Noto Sans, sans-serif;
}

.textJustify {
    text-align: justify;
}

.shadow1 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
}

.black-hover:hover {
    color: #876C60 !important;
}

.canvasActive {
    text-decoration: underline;
}

.hover-white:hover {

}

.hoverPrimary:hover {
    background-color: #DC9A7D;
    color: white !important;
}

.mobile-hidden {
    display: none;
}
@media screen and (min-width: 720px) {
    .offcanvas {
        max-width: 70%;
    }
}
hr {
    display: none;
}
@media screen and (min-width: 960px) {

    .container-md {
        max-width: 70%;
    }

    .offcanvas {
        max-width: 30%;
    }

    .mobile-hidden {
        display: initial;
    }

    .mobile-show {
        display: none;
    }

    .brand-title {
        margin-left: 2em !important;
        margin-right: 2em !important;
    }

    .searchNav {
        flex: 1;
    }

    .containerNav {

    }

    .divNav {
        margin-left: 1em;
    }

    .desktop-hidden {
        display: none;
    }

    .connect {

    }
    hr {
        display: block;
    }

}

