$primary: #DC9A7D;
$secondary: #876C60;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#DC9A7D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$input-border-color: #DC9A7D;
$input-focus-border-color: #DC9A7D;
$pagination-color: #876C60;
$pagination-border-color: #DC9A7D;
$pagination-hover-bg: #DC9A7D30;
$pagination-hover-border-color: #DC9A7D;
$offcanvas-horizontal-width: 90%;
$offcanvas-bg-color: #DC9A7D;
$dropdown-bg: #876C60;
$dropdown-link-hover-color: #000;
$dropdown-link-color: white;
$dropdown-link-hover-bg: #876C60;
// the ~ allows you to reference things in node_modules
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/bootstrap";

@font-face{
  font-family : 'Reenie Beanie';
  src : url('../fonts/ReenieBeanie-Regular.ttf') format('truetype');
}

@font-face{
  font-family : 'Noto Sans';
  src : url('../fonts/NotoSans-Medium.ttf') format('truetype');
}

@font-face{
  font-family : 'Baloo Bhaina';
  src : url('../fonts/BalooBhaina-Regular.ttf') format('truetype');
}
