.searchBar::placeholder {
  color: #DC9A7D;
}

.shadow1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
}

.secondTitle {
  font-size: 1.40rem ;
  font-family: Baloo Bhaina, sans-serif;
}

.textNoto {
  font-family: Noto Sans, sans-serif;

}