.roundedSquare::before {
  content: "";
  height: 0.55rem;
  width: 0.55rem;
  background-color: #DC9A7D;
  display: inline-block;
  border-radius: 3px;
  margin-right: 0.6rem;
}
.inputStyle {
  background-color: #DC9A7D4D;
}

.barrePrep {
  display: inline-block;
  height: 2rem;
  width: 2px;
  border: 1px solid #876C60;
  margin-top: 0.7rem;
}

.prep {
  width: 5.70rem;
}

.repos {
  width: 3.23rem;
}

.cuisson {
  width: 3.95rem;
}

.secondTitleSmall {
  font-size: 1.2rem;
}

.avisInterresse {
  font-size: 1.22rem;
}

.star-widget input {
  display: none;
}
.star-widget {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8rem;
  justify-content: center;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
  color:  #DC9A7D;
}

.star-widget input:checked ~ label {
  color:  #DC9A7D;
}

.starFill {
  color:  #DC9A7D;
}

.star {
  color: #876C60;
}

.star-widget label {
  color: #876C60;
  padding: 0.1rem;
  transition: all 0.2s ease;
}

.comment {
  max-height: 0;
  overflow: hidden;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: max-height 2s ease-in;
}

.comment.show {
  max-height: 30rem;
}

@media screen and (min-width: 960px) {
  .mobile-infos {
    display: flex;
    justify-content: space-between;
  }

  .hr-vertical {
    width: 1px;
    height: 100px;
    background-color: #DC9A7D50;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
  }
}