{% for message in app.flashes('success') %}
    <div class="alert alert-success shadow1">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger shadow1">
        {{ message }}
    </div>
{% endfor %}