{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="secondTitle text-secondary mb-4">Découvrez nos recettes</h2>
    <ul class="p-0 list-unstyled">
    {% for recipe in items %}
        <li class="lastBorder border-top border-primary ps-1"><p class="roundedSquare pt-3"><a class="text-decoration-none textNoto text-black" href="{{ path('recipe_index', {id: recipe.id}) }}">{{ recipe.title }}</a></p></li>
    {% endfor %}
    </ul>

    {% include '_pagination.html.twig' %}


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('recipes') }}
{% endblock %}