{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="secondTitle text-secondary mb-4">Gérer les allergies.</h2>

    {% include '_flashes.html.twig' %}

    {% include '/admin/_gererIndexBase.html.twig' with { 'items': items, 'property': 'name', 'pathController': 'gererAllergen', 'btnText': 'Créer une allergie' } %}
    {% include '_pagination.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('recipes') }}
{% endblock %}